#hero {
  padding-top: 2rem;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
  url("../imagen/imagen_de_fondo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: pink;
  padding: 0 1rem;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.Novedades-card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  display: block;
}
*{ 
    margin: 0 ;
    padding:0;
    box-sizing:border-box;
    font-family: 'Arial',sans-serif;
}
body{
    line-height: 1.6;
}
header {
    box-shadow: 0 2px 5px  rgba(0,0,0,0.1) ;

}

#hero h1 {

font-size: 3rem;
margin-bottom: 1rem ;

}
.cta-button{
    background-color:lightcoral;
    color:white;
    border:none;
    padding: 1rem 2rem;
    border-radius: 5px;
      cursor: pointer;
      margin-top: 2rem ;

}
.cta-button:hover{
    background-color:pink;
}
#Novedades {
 padding: 4rem 2rem;
 max: width 1200px;
 margin:0 auto;
}
#Novedades h2 {
    text-align: center;
    margin-bottom: 2rem;

}
.Novedades-grid {
    display: grid;
    grid-template-columns:repeat(center, minmax (300px, 1fr));
    gap:2rem;
}
.Novedades-card{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 5px  rgba(0,0,0,0.1) ;


}

.Novedades-card img {
    width: 100%;
    height: 200px;
    object-fit:cover;
   ta

}


.Novedades-card h3{
    padding:1rem;
    color:#333;

}
.Precio{
    color:lightcoral;
    font-weight:bold;
    padding:0 1rem;

    
}
.Descripcio{
padding: .5rem 1rem ;
color: #666;
}
.Novedades-card button{
margin: 1rem;
padding: .5rem 1rem;
background-color: #333;
color: white;
border:none ;
border-radius:5px ;
cursor: pointer;
}
.Novedades-card button :hover {
    background-color: black;

}
#Usuario {
    background-color: #f9f9f9;
    padding: 4rem 2rem;
}
#Usuario h2{
    text-align: center;
    margin-bottom: 2rem ;

}
form{
  max-width:  600px;
  margin:0 auto;
  display: flex;
  flex-direction:column;
  gap:1rem;
}
input,textarea{
    padding:.8rem ;
    border:1px solid #ddd;
    border-radius: 5px;

}
textarea{
    height: 150px;
 resize: vertical;
}
form button{
background-color:grey;
color: white;
border:none ;
padding: 1rem;
border-radius: 5px;
cursor: pointer;

}
form button:hover {
    background-color: #666;
}
footer{
 background-color: black;
 color:white;
 text-align: center;
 padding: 1rem;
}