@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); 

.navbar {
  display: flex;
  align-items: center;        
  gap: 10px;                   
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.hamburger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 3px;
  display: block;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.titulo-navbar {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;                
  user-select: none;
  white-space: nowrap;       
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;        
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #d81b60;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

#menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: rgb(46, 46, 46);
  padding-top: 80px;
  transition: left 0.3s ease;
  z-index: 1500;
}

#menu.active {
  left: 0;
}

#menu ul {
  list-style: none;
  padding: 20px;
}

#menu ul li {
  margin-bottom: 20px;
}

#menu ul li a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  padding: 10px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#menu ul li a:hover {
  background-color: lightcoral;
  color: white;               
  transform: translateX(5px);
}

#menu .close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s;
}

#menu .close-menu:hover {
  color: #d81b60;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

@media screen and (max-width: 430px) {
  nav.navbar {
    flex-wrap: wrap;
  }
  
  .nav-links {
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
    margin-left: 0;
  }
}
