.verTodo-card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  display: block;
}
.verTodo-card{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 5px  rgba(0,0,0,0.1) ;


}
.verTodo-card img {
    width: 100%;
    height: 200px;
    object-fit:cover;
   ta

}
.verTodo-card h3{
    padding: 1rem;
    color :#333;

}
.verTodo-card button{
margin: 1rem;
padding: .5rem 1rem;
background-color: #333;
color: white;
border:none ;
border-radius:5px ;
cursor: pointer;
}
.verTodo-card button :hover {
    background-color: black;

}
